<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/favicon.png" type="icon"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akduman Markt</title>
    <link rel="stylesheet" href="/static/anasayfa.css">
    <link rel="stylesheet" href="/static/hakkımızda.css">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/theme.css">
</head>
<section>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">            
                    <a href="/">
                        <img src="/static/Logo.png"alt="Ana Sayfa"width="100" height="75"></a>
                </div>
                <ul>
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/urun">Ürünler</a></li>
                    <li><a href="/iletisim">İletişim</a></li>
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                </ul>
            </div>
<div class="ContentBox2" id="contactUs">
    <div class="Header _clearfix" id="contactUs_Header">
        <div class="_floatLeft">
            <h1>İletişim</h1>
        </div>
            </span>
        </div>
    </div>
    <div id="contactUs_Body">
        <div id="contactusPage">
                        <div class="boxListRow">
                <div class="boxCol-1">Firma Resmi Adı</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">Akduman Makrt Tic. San. Ltd. Şti</div>
            </div>
                                    <div class="boxListRow">
                <div class="boxCol-1">Firma Adı</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">Akduman Markt</div>
            </div>
                                    <div class="boxListRow">
                <div class="boxCol-1">Onur Akduman</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">iletisim@akdumanmarkt.com.tr</div>
            </div>
                                    <div class="boxListRow">
                <div class="boxCol-1">Telefon 1</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">0216 000 00 01</div>
            </div>
                                    <div class="boxListRow">
                <div class="boxCol-1">Telefon 2</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">0216 000 00 02</div>
            </div>
                                    
                                   <div class="boxListRow">
                <div class="boxCol-1">E-mail</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3">iletisim@akdumanmarkt.com.tr</div>
            </div>
                        <div class="boxListRow">
                <div class="boxCol-1">İletişim Formu</div>
                <div class="boxCol-2">:</div>
                <div class="boxCol-3"><a href="/iletisim">İletişim Formu</a></div>
            </div>
            <div class="s10"></div>
            <div id="contactusCustomField">
                 <div><span style="font-size: 12pt; font-weight: bold; font-style: italic; color: rgb(73, 73, 73);">Değerli Müşterilerimiz!</span></div>
<div><span style="font-size: 12pt; font-weight: bold; font-style: italic; color: rgb(73, 73, 73);">Size daha iyi ve daha hızlı hizmet vermek adına mail ile iletişime geçmeniz</span><span style="color: rgb(73, 73, 73); font-size: 12pt; font-style: italic; font-weight: bold;">&nbsp;daha sağlıklı ve hızlı olacaktır. </span></div>
<div><span style="color: rgb(73, 73, 73); font-size: 12pt; font-style: italic; font-weight: bold;">Stok durumu, tedarik süreci , ürün özelliği gibi birçok sorunuza </span><span style="font-size: 12pt; font-style: italic; font-weight: bold; color: rgb(166, 0, 18);">iletisim@akdumanmarkt.com.tr</span><span style="color: rgb(73, 73, 73); font-size: 12pt; font-style: italic; font-weight: bold;">&nbsp;mail adresi üzerinden hızlı bir şekilde cevap alabilirsiniz.</span></div>
<div><span style="color: rgb(73, 73, 73); font-size: 12pt; font-style: italic; font-weight: bold;">Bizi tercih ettiğiniz için teşekkür ederiz.</span></div>
<div>&nbsp;</div>
<div><span style="color: rgb(73, 73, 73); font-size: 14pt; font-style: italic; font-weight: bold;">Mail adresimiz : iletisim@akdumanmarkt.com.tr</span></div>
<div><span style="font-size: medium;"><br style="font-size: 12pt;">
		</span></div>
	</div>  
</section>
<footer>
    <a href="https://instagram.com/onur.akduman.74">
        <img src="/static/insta.png"alt="insta"width="25" height="25"></a> 
        <a href="https://twitter.com/onurakduman74">
            <img src="/static/tw.png"alt="tw"width="25" height="25"></a>  
            <a href="https://discord.gg/cPDXbVmV">
                <img src="/static/dc.png"alt="dc"width="25" height="25"></a>   
                <a href="https://steamcommunity.com/id/K1NGRAGNAR/">
                    <img src="/static/st.png"alt="st"width="25" height="25"></a>   
                <b>Tüm Haklar Saklıdır | 2021  &copy;</b>
                <c>Created by OnurAkduman</c>
    </footer>
</body>
</html>
